.image-22 {
  position: relative;
  width: 100%;
  height: 143px;
  background-image: url(./public/image-22@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
